@model GameDay.Models.AddressListVM


<div class="container container-fluid">
    <h2>Index</h2>

    <p>
        @Html.ActionLink(Constant.Controller.CreateNewButtonTitle, Constant.Controller.Create, null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressSingle.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressSingle.Line1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressSingle.Line2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressSingle.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressSingle.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressSingle.Zip)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.AddressList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Line1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Line2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.ActionLink(Constant.Controller.Details, Constant.Controller.Details, new { id = item.ID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink(Constant.Controller.Edit, Constant.Controller.Edit, new { id = item.ID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink(Constant.Controller.Delete, Constant.Controller.Delete, new { id = item.ID }, new { @class = "btn btn-danger" }) 
                </td>
            </tr>
        }

    </table>
</div>
