@model IEnumerable<GameDay.Models.EventVM>

@Html.AntiForgeryToken()
@if (!Model.Any())
{
    <h4 class="grayFont leftMargin">There are no events</h4>
}
else
{
    foreach (var item in Model)
    {
        <div class="panel panel-body panel-default eventContainer col-lg-12" onclick="showDetails(@Html.DisplayFor(modelItem =>item.ID))">
            <div class="col-md-2 pull-left">
                <img src="~/public/content/Images/@Html.DisplayFor(modelItem=> item.Game)'.png" />
            </div>
            <div class="col-md-10 verticalLine">
                <div class="row" style="margin-top: .7em;">
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.Name):</label>
                    <p class="col-md-4">@Html.DisplayFor(modelItem => item.Name)</p>
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.AddressName):</label>
                    <p class="col-md-4">@Html.DisplayFor(modelItem => item.AddressName)</p>
                </div>
                <div class="row">
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.DateTime):</label>
                    <p class="col-md-4">@Html.DisplayFor(modelItem => item.DateTime)</p>
                    <label class="col-md-2">Players:</label>
                    <p class="col-md-4">@Html.DisplayFor(modelItem => item.PlayerCount)</p>
                </div>
            </div>
        </div>
    }
}
