@model GameDay.Models.EventVM

@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div id="detail-form">
        <div class="col-md-2">
            <div class="form-group detail-control">
                <label>@Html.DisplayNameFor(model => model.Name):</label>
            </div>
            <div class="form-group detail-control">
                <label>@Html.DisplayNameFor(model => model.Game):</label>
            </div>
            <div class="form-group detail-control">
                <label>@Html.DisplayNameFor(model => model.DateTime):</label>
            </div>
            <div class="form-group detail-control">
                <label>@Html.DisplayNameFor(model => model.AddressName):</label>
            </div>
        </div>
        <div class="col-md-6 verticalLine">
            <div class="detail-left-margin col-md-12">
                <label id="DetailEventNameLabel">@Html.DisplayFor(model => model.Name)</label>
            </div>
            <div class="detail-left-margin col-md-12">
                <label id="DetailGameTypeLabel">@Html.DisplayFor(model => model.Game)</label>
            </div>
            <div class="detail-left-margin col-md-12">
                <label id="DetailEventDateLabel">@Html.DisplayFor(model => model.DateTime)</label>
            </div>
            <div class="detail-left-margin">
                <label class="col-md-12" id="LocationLabel">@Html.DisplayFor(model => model.Location.Name)</label>
                <label class="col-md-12" id="addressElem">
                    @Html.DisplayFor(model => model.Location.Line1) @Html.DisplayFor(model => model.Location.Line2) <br/>
                    @Html.DisplayFor(model => model.Location.City), @Html.DisplayFor(model => model.Location.State) @Html.DisplayFor(model => model.Location.Zip)
                </label>
            </div>
        </div>
        <div class="form-group tagBox">
            <div class="col-md-12">
                <label>Attending:</label><br/>
                @foreach (var item in Model.PlayerAttendingList)
                {
                    <span class="tag label label-info">@Html.DisplayFor(x => item)</span>
                }
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary clearfix" id="editButton" 
                    onclick="loadEditScreen(@Model.ID);">Edit</button>
            @Html.ActionLink("Delete", "Delete", new {id = Model.ID}, new {@class = "btn btn-danger clearfix"})
        </div>
    </div>
</div>


