@model Domain.Layer.Models.Event

@using (Html.BeginForm("Create", "Event"))
{
    <div class="Scollable">
        <div class="col-xs-3 col-md-2 col-lg-2">
            <h5>Create</h5>
            <hr/>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@for = "EventNameTextBox"})
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", @id = "EventNameTextBox"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Game, htmlAttributes: new {@for = "GameTypeDropDown"})
                @Html.EnumDropDownListFor(model => model.Game, htmlAttributes: new {@class = "form-control", @id = "GameTypeDropDown"})
                @Html.ValidationMessageFor(model => model.Game, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new {@for = "EventDate"})
                @Html.EditorFor(model => model.Date, new {htmlAttributes = new {@type = "date", @class = "form-control", @id = "EventDate"}})
                @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Time, htmlAttributes: new {@for = "EventTime"})
                @Html.EditorFor(model => model.Time, new {htmlAttributes = new {@type = "time", @class = "form-control", @id = "EventTime"}})
                @Html.ValidationMessageFor(model => model.Time, "", new {@class = "text-danger"})
            </div>
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-4">
            <h5>Events</h5>
            <hr/>
            <div class="Scollable">
                @{
                    Html.RenderAction("Index", "Event");
                }
            </div>
        </div>
        <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5">
            <h5>Details</h5>
            <hr/>
            <div id="DetailsContainer">
            </div>
        </div>
    </div>
}

