@using Domain.Layer.Models
@model Domain.Layer.Models.Event

@{
    ViewBag.Title = "Game On";
}
@using (Html.BeginForm("Create", "Event"))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="col-xs-3 col-md-2 col-lg-2 clearfix">
            <h5>Create</h5>
            <hr/>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@for = "EventNameTextBox"})
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", @id = "EventNameTextBox"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Game, htmlAttributes: new {@for = "GameTypeDropDown"})
                @Html.EnumDropDownListFor(model => model.Game, htmlAttributes: new {@class = "form-control", @id = "GameTypeDropDown"})
                @Html.ValidationMessageFor(model => model.Game, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new {@for = "EventDatee"})
                @Html.EditorFor(model => model.Date, new {htmlAttributes = new {@type = "date", @class = "form-control", @id = "EventDate"}})
                @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Time, htmlAttributes: new {@for = "EventTime"})
                @Html.EditorFor(model => model.Time, new {htmlAttributes = new {@type = "time", @class = "form-control", @id = "EventTime"}})
                @Html.ValidationMessageFor(model => model.Time, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new {@for = "LocationDropDown"})
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new {@class = "form-control", @id = "LocationDropDown"}})
                @Html.ValidationMessageFor(model => model.Location, "", new {@class = "text-danger"})
            </div>
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-4 clearfix">
            <h5>Events</h5>
            <hr/>
            @{
                Html.RenderAction("Index", "Event");
            }
        </div>
        <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5 clearfix">
            <h5>Details</h5>
            <hr/>
            <form id="detail-form">
                <div class="col-md-2">
                    <div class="form-group detail-control">
                        <label for="DetailEventNameTextBox">Event Name:</label>
                    </div>
                    <div class="form-group detail-control">
                        <label for="DetailGameTypeDropDown">Type:</label>
                    </div>
                    <div class="form-group detail-control">
                        <label for="DetailEventDate">Date:</label>
                    </div>
                    <div class="form-group detail-control">
                        <label for="DetailEventTime">Time:</label>
                    </div>
                    <div class="form-group detail-control">
                        <label for="LocationDropDown">Location:</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="DetailEventNameTextBox" placeholder="Name" disabled>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="DetailGameTypeDropDown" disabled>
                            <option value="" selected disabled>Please select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="date" id="DetailEventDateTime" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <input type="time" id="DetailEventTime" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="LocationDropDown">
                            <option value="" selected disabled>Pick a location</option>
                        </select>
                    </div>
                    <address>
                        1355 Market Street, Suite 900<br>
                        San Francisco, CA 94103<br>
                    </address>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/Images/map.png"/>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="DetailPlayerList">Attending:</label>
                        <div class="alert-warning" id="playerBox">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary clearfix">Edit</button>
                </div>
            </form>
        </div>
    </div>
}

    @*<div class="form-group">
            <label for="DetailLine1TextBox">Address:</label>
            <input type="text" id="DetailLine1TextBox" class="form-control" placeholder="Line 1">
            <input type="text" id="DetailLine2TextBox" class="form-control" placeholder="Line 2">
            <input type="text" id="DetailCityTextBox" class="form-control" placeholder="City">
            <select class="form-control" id="DetailStateDropDown">
                <option value="" selected disabled>State</option>
            </select>
            <input type="number" id="DetailZipTextBox" class="form-control" placeholder="ZipCode">
        </div>*@